<section
  class="container-fluid bg-light d-flex flex-column justify-content-center align-items-center mt-4"
>
  <!----------- image slider ------------>
  <div class="w-100 d-flex justify-content-center">
    <app-image-slider></app-image-slider>
  </div>

  <!----------- movie cards heading ------------>
  <div class="w-80 d-flex justify-content-between mt-5">
    <span class="font-weight-bold text-medium mb-2">Recommended Movies</span>
    <a href="#" class="text-danger d-flex align-items-center text-small">
      See All <span class="material-icons text-x-small">chevron_right</span>
    </a>
  </div>

  <!----------- movie cards  ------------>
  <div class="d-flex w-80 mb-5">
    <div *ngFor="let movieDetail of allMovieDetails;"
    (click) = "selectedMovie(movieDetail.id)"
    >
      <div class="me-3 cursor-pointer">
        <img
        [src]="movieDetail.poster"
        width="100%"
        height="80%"
        class="rounded"
      />
      </div>
      <div class="font-weight-500 my-2"> {{ movieDetail.title }}  </div>
      <span> {{ movieDetail.genre}}  </span>
    </div>
  </div>
</section>
